<template>
  <v-expansion-panel class="pa-3 faq-panel">
    <v-expansion-panel-content
      v-for="item in faqs" :key="item.id"
    >
      <div slot="header"><h4>{{ item.title }}</h4></div>
      <v-card>
        <v-card-text>{{ item.text }}</v-card-text>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import AppFaq from "~/components/AppFaq.vue";

export default {
  props: {
    faqs: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
.faq-wrapper .container {
  padding: 0;
}
.faq-panel.v-expansion-panel {
  box-shadow: none;
}
.faq-panel .v-card__text {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 24px;
}
@media (min-width: 1024px) {
  .faq-panel .v-card__text {
    width: 70%;
  }
}
.faq-panel .v-expansion-panel__header {
  padding: 20px 24px;
}

.faq-panel .v-icon {
  /* todo remove important */
  color: var(--v-secondary-base) !important;
}
</style>
