<template>
  <div class="hero" :class="{ xs: $vuetify.breakpoint.xs, md: $vuetify.breakpoint.md }">
    <div class="wrapper">
      <div class="meta pt-5 pb-5 text-xs-left white--text">
        <v-layout wrap>
          <v-flex xs12 md6>
            <div>
              <AppHeading
                level="2"
                heading="Become a Hostwriter supporter today!"
                class="text__headline mb-4"
              />
              <p class="intro pb-5">
                {{ intro }}
              </p>
              <v-btn color="secondary" depressed class="ml-0">
              <a class="white--text" href="#donate">I’ll Support Collaborative Journalism</a>
            </v-btn>
            </div>
          </v-flex>
        </v-layout>
      </div>
      <div
        v-if="caption"
        class="subline"
        v-html="caption"
        :class="{ xs: $vuetify.breakpoint.xs, md: $vuetify.breakpoint.md }"
      ></div>
    </div>
  </div>
</template>

<script>
import AppHeading from "~/components/AppHeading.vue";

export default {
  name: "AppHero",
  components: {
    AppHeading
  },
  data() {
    return {
      caption: false,
      intro: "All supporters who make a one-time donation of 100 € or more, or who register for monthly recurring donations will be listed (if they wish to be publicly acknowledged) on a special 2020 Hostwriter Supporter Appreciation page on Hostwriter’s website.",
      button: {
        content: "Join Hostwriter",
        url: "/user/login",
        type: "button",
        classes: ["button button-accent"],
        color: "secondary"
      }
    };
  }
};
</script>

<style scoped>
.opac {
  opacity: 0.6;
}
.hero {
  margin-bottom: 0;
  position: relative;
  background: var(--v-primary-base);
}
.wrapper::before {
  content: "";
  background: url("~assets/images/backgrounds/hero.png") no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
}
.meta {
  display: flex;
  align-items: center;
  padding: 24px;
  justify-content: left;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}
.subline {
  position: absolute;
  color: #688692;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
.subline.xs {
  font-size: 12px;
  line-height: 18px;
}
.subline.sm {
  font-size: 14px;
  line-height: 18px;
}
</style>
