<template>
  <header>
    <v-toolbar
      :absolute="true"
      height="40px"
      class="pt-3 pb-3"
      color="transparent"
      flat>
      <nuxt-link to="/">
        <img class="pt-1" src="/hostwriter-logo-white.svg" alt="Home">
      </nuxt-link>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat depressed><a :class="{ 'white--text': theme == 'dark' }" href="https://hostwriter.org/about" target="_blank">About</a></v-btn>
        <v-btn color="secondary" floating class="ml-4"><a :class="{ 'white--text': theme == 'dark' }" href="#donate">Donate Now</a></v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </header>
</template>


<script>
  export default {
    props: {
      theme: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        miniVariant: true,
        right: true,
        rightDrawer: false,
      }
    },
    getClass: function() {
        return this.theme === 'dark' ? 'white--text' : false;
    }
  }
</script>

<style>
  .v-toolbar {
    max-width: 1185px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .v-toolbar .v-btn__content a {
    text-decoration: none;
  }
  .v-toolbar .v-toolbar__content {
    max-width: 1185px;
    margin: 0 auto;
  }
  .v-toolbar__content .v-btn {
    min-width: 0;
  }
  .v-toolbar__content .v-btn--active:before,
  .v-toolbar__content .v-btn:hover:before,
  .v-toolbar__content .v-btn:focus:before {
    background-color: transparent;
  }
  .nuxt-link-exact-active {
    color: var(--v-secondary-base) !important;
  }
  .v-navigation-drawer .v-list__tile--active {
    color: var(--v-secondary-base) !important;
  }
  .v-toolbar__items .v-btn.login {
    height: 46px !important;
  }
</style>
