<template>
  <img 
       :src="image.file.src"
       :alt="image.file.alt"
       :title="image.file.title"
       :class="classes">
</template>

<script>
  export default {
    name: 'AppImage',
    props: {
      classes: {
        type: String | Array,
        default: ''
      },
      image: Object
    }
  };
</script>
