/****************************************************************************
********** Basic Styles, Variables, Media Queries and Typography ************
****************************************************************************/

/***** Fonts  *******/
/* normal = 300 */
@font-face {
  font-family: Adelle;
  src: url("../fonts/Adelle_Regular.woff") format("woff"), url("../fonts/Adelle_Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Adelle;
  src: url("../fonts/Adelle_Bold.woff") format("woff"), url("../fonts/Adelle_Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: AdelleSans;
  src: url("../fonts/Adelle_Sans_Regular.woff") format("woff"), url("../fonts/Adelle_Sans_Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* bold = 600 */
@font-face {
  font-family: AdelleSans;
  src: url("../fonts/Adelle_Sans_Bold.woff") format("woff"), url("../fonts/Adelle_Sans_Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}


/* BASIC STYLING */
body {
  font-size: 16px;
}

.v-content a {
  color: var(--v-accent-base);
  text-decoration: none;
}
.v-content a.more-link {
  display: block;
  padding-top: 20px;
}
.v-btn {
  padding-top: 2px!important;
}

.background {
  background: #f2f4f6!important;
}

.container {
  background: #FFF;
}

.accent-text {
  color: var(--v-accent-base);
}

.intro {
  font-family: 'AdelleSans';
  font-size: 26px;
  line-height: 38px;
  max-width: 960px;
  margin: 0 auto;
}
.intro.dense {
  max-width: 760px;
}

.section-headline {
  display: inline;
  color: var(--v-primary-base);
  border-bottom: 4px solid var(--v-accent-base);
}

.gray {
  color: #98a2b9;
}

.v-card--hover:hover  {
  box-shadow: 10px 20px 30px 0 rgba(26, 26, 46, 0.1)!important;
}

.theme--light.v-label {
  color: #98a2b9!important;
}

.list--checkmark {
  list-style: none;
}

.list--checkmark li {
  margin-bottom: 12px;
}

.list--checkmark li:before {
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-family: "Material Icons";
  content: "\E876";
  font-size: 20px;
  font-weight: bold;
  color: var(--v-accent-base) !important;
  vertical-align: bottom;
}
