<template>
  <v-container fluid grid-list-xl class="pa-0">
    <AppVideo v-if="video" :data="{ src: video.src, ratio: video.ratio }" />

    <section class="banner secondary">
      <v-icon class="background-icon">mdi-earth</v-icon>
      <v-layout column justify-center align-center>
        <v-flex xs12 sm10>
          <AppBanner v-bind:banner="banner" />
        </v-flex>
      </v-layout>
    </section>

    <section>
      <v-container fluid>
        <v-layout class="pt-5 pb-5 text-xs-center" justify-center>
          <v-flex xs12 sm10>
            <AppHeading
              level="2"
              heading="It's Urgent"
              class="primary--text mb-5"
            />
            <p class="intro">
              We need to raise €50,000 to continue our projects through the end
              of 2020. When you support Hostwriter with a donation, you’re
              supporting the nearly 5000 journalists from 150+ countries that
              rely on our network for advice, networking and collaboration
              opportunities they can’t get anywhere else.<br /><br />
            </p>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section>
      <v-container class="background" fluid>
        <v-layout class="pt-5 pb-3 text-xs-center" justify-center>
          <v-flex xs12 sm10>
            <AppHeading
              level="2"
              heading="Donate Now and Get Limited Rewards"
              class="primary--text mb-5"
            />
          </v-flex>
        </v-layout>
        <v-container class="background pb-3">
          <v-layout class="pb-5" justify-center>
            <v-flex xs12 md6>
              <AppHeading
                level="3"
                heading="100+ Euros One-Time Pledge"
                class="primary--text mb-3"
              />
              <p class="introx pb-3">
              The first 10 people to make a donation of 100 Euros or more will receive a copy of our book, <i>Unbias the News</i>, and an Unbias the News tote bag.
              </p>
              <v-img :src="donateImg1"></v-img>
            </v-flex>
            <v-flex xs12 md6>
              <AppHeading
                level="3"
                heading="5+ Euros Monthly Support"
                class="primary--text mb-3"
              />
              <p class="introx pb-3">Become a monthly supporting member
              for at least 5 Euros and receive a digital PDF of our book, <i>Unbias the News</i>.</p>
              <v-img :src="donateImg2"></v-img>
            </v-flex>
          </v-layout>
        </v-container>
      </v-container>
    </section>

    <section class="banner pt-5 pb-3">
      <v-container class="pa-0" id="donate">
        <v-layout justify-center>
          <v-flex xs12 sm10>
            <AppHeading
              level="2"
              heading="Donate Now"
              class="primary--text mb-5 text-xs-center"
            />
            <!-- twingle -->
            <client-only>
              <div width="100%" :id="'twingle-public-embed-' + compId"></div>
            </client-only>
            <!-- twingle -->
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section class="pt-5 pb-3">
      <v-container class="pa-0">
        <v-layout column justify-center align-center>
          <v-flex xs12 sm10>
            <AppHeading
              level="2"
              heading="Why We Ask You for Support"
              class="primary--text mb-5 text-xs-center"
            />
            <p class="intro text-xs-center pb-5">
              We are grateful for the generous support of foundations such as
              Adessium Foundation and Rudolf Augstein Foundation, and we see
              philanthropy as an existential pillar for Hostwriter. To increase
              our financial sustainability, we've drawn up an ambitious plan to
              increase donations as an additional revenue stream.
            </p>
          </v-flex>
        </v-layout>
      </v-container>
      <v-container class="pa-0 banner secondary" fluid>
        <AppBanner v-bind:banner="bannerGoal" />
      </v-container>
    </section>

    <section class="pt-5 pb-3">
      <v-container>
        <v-layout column justify-center align-center>
          <v-flex xs12 sm10>
            <AppHeading
              level="2"
              heading="How do we get there?"
              class="primary--text mb-5 text-xs-center"
            />
            <p class="intro dense text-xs-center pb-5">
              We have developed some alternative revenue streams in addition to
              philanthropic funding:
            </p>
          </v-flex>
        </v-layout>
        <Projects />
      </v-container>
    </section>

    <AppHero></AppHero>

    <section class="banner team pt-0 pb-0">
      <v-img :src="team"></v-img>
      <p class="gray text-xs-center pa-3">
        From left to right: Bernadette Geyer (COO & Communications), Katja
        Heitmann (CTO), Andy Wilke (Lead Design), Tina Lee (Ambassador Network),
        Tabea Grzeszyk (CEO), Zahra Salah Uddin (Community Engagement)
      </p>
    </section>

    <section class="text-xs-center contact pt-3 pb-5">
      <v-container>
        <v-flex xs12 sm10 offset-sm1 class="pb-4">
          <AppHeading
            level="2"
            heading="Get in touch"
            class="primary--text mb-3 text-xs-center"
          />
          <p class="intro text-xs-center pb-3">
            If you have questions, please get in touch with us at any time.
            <br />Thanks, Your Hostwriter Team.
          </p>
          <v-btn color="secondary" depressed class="ml-0">
            <a
              class="white--text"
              href="mailto:tabea@hostwriter.org"
              target="_blank"
              >Send mail</a
            >
          </v-btn>
        </v-flex>
      </v-container>
    </section>
  </v-container>
</template>

<script>
import AppHeading from "~/components/AppHeading";
import AppHero from "~/components/AppHero";
import AppVideo from "~/components/AppVideo";
import AppBanner from "~/components/AppBanner";
import Features from "~/components/content/Features";
import Projects from "~/components/content/Projects";

export default {
  components: {
    AppHeading,
    AppBanner,
    Features,
    Projects,
    AppHero,
    AppVideo
  },
  data() {
    let randomID = Math.random()
      .toString(36)
      .substr(2, 9);
    return {
      team: require("~/assets/images/hostwriter-team.jpg"),
      compId: "_" + randomID,
      donateImg1: require("~/assets/images/donate/unbias-the-news-book-totebag-tiny.jpg"),
      donateImg2: require("~/assets/images/donate/unbias-the-news-book-pdf-tiny.jpg"),
      video: {
        _type: "video",
        src: "Sx3F2d8E3sE",
        ratio: "16by9"
      },
      banner: {
        class: "banner transparent",
        headline: {
          level: "2",
          heading: "Hostwriter Needs Your Support"
        },
        text:
          "Make a donation and help us empower the collaborative future of journalism! <br><br>At a time when national borders are closing down due to the global spread of coronavirus, the need for journalists to collaborate is vital.<br>Now, more than ever, journalists need to cross borders – digitally, if not literally – both to collaborate and to learn from one another. And that is exactly what we empower at Hostwriter."
      },
      bannerGoal: {
        class: "banner transparent",
        text:
          "<b>Our goal:</b> We need <b>€ 50,000</b> to continue our projects through the end of the year."
      },
      features: [
        {
          html:
            "<a target='_blank' href='https://blog.hostwriter.org/cross-border-journalism-booklets-for-downloading/'>Hostwriter provides trainings</a> in “Cross-Border Journalism“ for a fee.",
          img: require("~/assets/images/trainings.png")
        },
        {
          html:
            "Our first Hostwriter book <i>Unbias the News. Why diversity matters for journalism</i> is out on <a target='_blank' href='https://unbiasthenews.org/'>sale</a>.",
          img: require("~/assets/images/book.png")
        }
      ],
      rewards: [
        {
          html: "Adopt a part-time Hostwriter staff position.",
          amount: "2500 €",
          text: "per month"
        },
        {
          html: "Adopt an Arabic or Spanish Conversation Editor.",
          amount: "500 €",
          text: "per month"
        },
        {
          html: "Support Hostwriter with a contribution you like.",
          amount: "X €"
        }
      ]
    };
  },
  mounted() {
    if (process.client) {
      const u =
        "https://spenden.twingle.de/embed/hostwriter-gug/gls-spendenseite/tw5b7cf1d561f64/widget";
      var d = document;
      var g = d.createElement("script");
      var s = d.getElementsByTagName("script")[0];
      g.type = "text/javascript";
      g.async = true;
      g.defer = true;
      g.src = u + "/" + this.compId;
      s.parentNode.insertBefore(g, s);
    }
  },
  created() {}
};
</script>

<style scoped>
.banner {
  width: 100%;
}
.section-rewards .circle {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: #98a2b5;
  display: table;
  margin: 0 auto 30px auto;
}

.section-rewards .circle.circle-1 {
  background: #00005a;
}

.section-rewards .circle.circle-2 {
  background: #d2b98c;
  background: -moz-linear-gradient(-45deg, #d2b98c 0%, #a87d2e 100%);
  background: -webkit-linear-gradient(-45deg, #d2b98c 0%, #a87d2e 100%);
  background: linear-gradient(135deg, #d2b98c 0%, #a87d2e 100%);
}

.section-rewards .circle .wrap {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10px;
}

.section-rewards .circle p {
  color: #fff;
  font-size: 42px;
  white-space: nowrap;
  margin-bottom: 5px;
}

.section-rewards .circle span {
  font-size: 16px;
  color: #fff;
}

.section-rewards p {
  color: #98a2b5;
  font-size: 26px;
  line-height: 36px;
}

.about {
  background: #ecedef;
}

.contact {
  background: #fff;
  padding: 60px 0;
  position: relative;
}
.banner {
  position: relative;
  overflow: hidden;
}
.background-icon {
  color: #fff;
  left: -100px;
  top: -120px;
  font-size: 500px;
  opacity: 0.2;
  position: absolute;
}
@media (min-width: 1024px) {
  .background-icon {
    font-size: 700px;
    left: -165px;
    top: -210px;
  }
}
</style>
