<template>
  <v-container class="pa-0">
    <v-layout
      row
      wrap
      justify-center
      :class="{'xs': $vuetify.breakpoint.xs, 'sm': $vuetify.breakpoint.sm , 'md': $vuetify.breakpoint.md}"
    >
      <v-flex :class="feature.class" v-for="feature in features" :key="feature.id" xs12 sm6 md4>
        <v-card
          flat
          class="pt-5"
          height="100%"
          min-height="110px"
          color="transparent"
          :to="feature.link"
          :href="feature.href"
          :target="feature.target"
        >
          <v-layout align-center column>
            <v-img :src="feature.img" width="120px" class="float-center mt-2"></v-img>
            <v-card-title class="justify-center" v-if="feature.headline">
              <AppHeading
                :level="feature.headline.level"
                :heading="feature.headline.heading"
                class="text__headline"
              />
            </v-card-title>
            <v-card-text class="text-xs-center">
              <p v-html="feature.html">{{ feature.text }}</p>
            </v-card-text>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>



<script>
  import AppHeading from "~/components/AppHeading.vue";

  export default {
    components: {
      AppHeading
    },
    props: {
      features: {
        type: Array,
        required: true
      },
      layout: {
        type: String,
        required: false
      }
    }
  };
</script>
