<template>
  <v-layout row wrap class="text-xs-left" justify-center>
    <v-flex v-for="post in blogPosts" :key="post.id" xs12 sm6 md4>
      <v-card flat hover height="100%" value='0' class="background">
        <v-img 
            :src=getThumbnail(post)
            height="200px"
          ></v-img>
        <v-card-title primary-title>
          <h4 v-html=post.title.rendered class="pb-3"></h4>
          <div class="excerpt" v-html=post.excerpt.rendered></div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>


<script>
//https://blog.hostwriter.org/wp-json/wp/v2/posts?_embed - Featured Header image included!

export default {
  data() {
    return {
      blogPosts: null
    }
  },
  methods: {
    fetchData() {
        let url = process.env.HOSTWRITER_BLOG_URL + '/wp-json/wp/v2/posts?_embed=true&per_page=3';
        return this.$axios.$get(url)
        .then(result => {
          this.blogPosts = result
        })
        .catch(e => {
          // @todo: add error handling
          console.log(e)
        });
    },
    getThumbnail: function (post) {
      if (post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url){
        return post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url
      };
    }
  },
  mounted() {
    this.fetchData()
  }
    
}
</script>

<style scoped>
  .excerpt a {
    display: block;
    padding-top: 20px;
  }
</style>