<template>
  <div class="text-xs-center pt-5 pb-5">
    <h2 class="white--text pb-3">{{ journalists }} journalists from {{ countries }} countries worldwide</h2>
    <v-btn color="white" href="/search">Search</v-btn>
  </div>
</template>


<script>
export default {
  data() {
    return {
      journalists: '',
      countries: ''
    }
  },
  methods: {
    fetchData() {
        let url = process.env.HOSTWRITER_API_BASEURL + '/hostwriter/journalists/count';
        return this.$axios.$get(url)
        .then(result => {
          this.journalists = result.journalists,
          this.countries = result.countries
        })
        .catch(e => {
          // @todo: add error handling
          console.log(e)
        });
    }
  },
  mounted() {
    this.fetchData()
  }  
}
</script>
